@import "colores.scss";


/*Reseteo del Css*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: "Fira Sans", sans-serif;
}

main, nav {
    background: $color1;
}

/*Imagenes y contenido multimedia*/
.multimedia {
    width: 44rem;
}

.imgFlex {
    display: flex;
    justify-content: center;
}

.videoFlex {
    display: flex;
    justify-content: center;
}

/*Menu y Submenu*/
nav {
    ul {
        font-size: 1rem;
        li{
            background-color: $color1;
            text-align: center;
        }
    }
}

/*Titulos y subtitulos*/

.titulo { /*Titulo animado*/
    animation-name: titulo;
    animation-duration: 3s;
    animation-iteration-count: 1s;
    text-align: center;
    background-color: $color4;
    color: $color1;
    position: sticky;
}

.subtitulo { /*subtitulo animado*/
    animation-name: subtitulo;
    animation-duration: 3s;
    text-decoration: 2s;
    animation-iteration-count: 1s;
    text-align: center;
    color: $color2;
    margin-bottom: 0.5rem;

}

.subSubtitulo {/*SubSubtitulo animado*/
	animation-name: subSubtitulo;
	animation-duration: 3s;
	animation-iteration-count: 1s;
	text-align: center;
	color: $color1;
}

/*Inicio de Textos*/

p {
    text-align: center;
    padding: 1rem;
}

b {
    font-style: italic;
    color: $color4;
}

i {
    color: $color1;
}

/*Tablas y formularios*/

form {
    padding: 2rem;
    text-align: left;
}

table {
    border:$color5 0.2rem solid;
    color: $color2;
    margin: 1rem;
}

td {
    padding: 2.5rem;
}

tr {
    border: $color4 0.1rem solid;
}

fieldset {
    text-align: center;
}

legend {
    color: $color1;
    font-size: 3rem;
}

label {
    font-style: italic;
}

input {
    border-color: $color2;
}

select {
    border-color: $color2;
}

textarea {
    border-color: $color2;
}

/*Pie de Pagina/footer*/

footer {
    background-color: $color4;
    color: $color6;
    margin-top: auto;
}

/*Keyframes*/

@keyframes titulo {
	from {
		opacity: 0;
		transform: translate(-250px);

	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes subtitulo {
	from {
		opacity: 0;
		transform: translate(500px);
	}

	to {
		opacity: 1;
		transform: translate(0);
	}
}


@keyframes subSubtitulo {
	from {
		opacity: 0;
		transform: translate(-500);
	}

	to {
		opacity: 1;
		transform: translate(0);
	}
}

/*Media Queries*/
@media screen and (min-width:360px) {
    .multimedia {
        width: 20rem;
    }

    .titulo {
        padding: 2.5rem;
    }
    
    .subtitulo {
        margin: 5rem;
    }

    .subSubtitulo {
        margin: 2rem;
    }

    tr {
        margin: 3rem;
    }
}

@media screen and (min-width:768px) {
    .multimedia {
        width: 40rem;
    } 
    
}

@media only screen and (min-width: 1200px) {
    .multimedia {
        width: 44rem;
    }
}
